<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/tx  
           http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<context:annotation-config/>

	<context:component-scan base-package="com.google.gwt.sample.dynatablemvp.server">
		<context:include-filter type="regex"
			expression="(dao|svc)" />
	</context:component-scan>

	<bean id="jpaVendorAdapter"
		class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter">
		<property name="database" value="H2" />
		<property name="databasePlatform" value="org.eclipse.persistence.platform.database.H2Platform" />
	</bean>

	<bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.EclipseLinkJpaDialect" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.h2.Driver" />
		<property name="url" value="jdbc:h2:mem:eltest;DB_CLOSE_DELAY=-1" /> 
		 <!-- <property name="url" value="jdbc:h2:tcp://localhost/~/testdb" />  -->
		<property name="username" value="sa" />
		<property name="password" value="secret" />
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml" />
		<property name="persistenceUnitName" value="DefaultPersistenceUnit" />
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
		<property name="jpaDialect" ref="jpaDialect" />
		<property name="jpaProperties"> 
			<props>
			      <prop key="eclipselink.ddl-generation">drop-and-create-tables</prop>
			      <prop key="eclipselink.ddl-generation.output-mode">database</prop>
			      <prop key="eclipselink.weaving">true</prop>
			      <prop key="eclipselink.logging.level">INFO</prop>
			</props> 
			
		</property> 
		<property name="loadTimeWeaver">
     		<bean class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver" />
   		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="dataSource" ref="dataSource" />
		<property name="jpaDialect" ref="jpaDialect" />		
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />


</beans>
